article {
  margin: 100px auto;
  max-width: 65%;
}

article dt {
  font-weight: bold;
  font-size: 18px;
  margin-top: 18px;
}

article dd {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 16px;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top:10px;
  margin-bottom:10px;
}
th, td {
  border: 1px solid black;
  padding: 3px;
}
th {
  font-weight: bold;
  background-color: #ddd;
  text-align:center;
}
