<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}

		<!-- Header -->
		<div class="intro-header">

		    <div class="container">

		        <div class="row">
		            <div class="col-lg-12">
		                <div class="intro-message">
		                    <h1>{{ page.title }}</h1>
		                    <h3>{{ page.subTitle }}</h3>
		                    <hr class="intro-divider">
		                    <p>The League of Urban Canners (LUrC) oversees an urban orchard of more than 100 fruit trees, mostly in Cambridge and Somerville. While most trees are located in private yards, some are in parks and public spaces. Each year, with the consent of owners, we prune trees and arbors, harvest fruit, and process the product of our harvest into jams, ciders, and other preserves.</p>
		                </div>
		            </div>
		        </div>

		    </div>
		    <!-- /.container -->

		</div>
		<!-- /.intro-header -->

		{% include page_content.html %}
		{% include footer.html %}
	</body>
</html>
